* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #f0f5f4;
}

.btn-primary {
    background-color: #0f2d8c;
}

.btn-success {
    background-color: #149c1d;
}